<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Flask Demo</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href='{{ url_for("static", filename="css/base.css") }}'>
   <link rel="stylesheet" href='{{ url_for("static", filename="css/main.css") }}'>
   <link rel="stylesheet" href='{{ url_for("static", filename="css/vendor.css") }}'>
   <link rel="stylesheet" href='{{ url_for("static", filename="dist/lity.css") }}'>

   <style type="text/css" media="screen">

   	#styles { 
   		background: white;
   		padding-top: 12rem;
   		padding-bottom: 12rem;
   	}
   	#styles .row {
   		max-width: 1024px;
     	}
     	#styles .section-intro {
   		max-width: 800px;
     	}
      	
   </style>       

   <!-- script
   ================================================== -->
	<script src='{{ url_for("static", filename="js/modernizr.js") }}'></script>
	<script src='{{ url_for("static", filename="js/pace.min.js") }}'></script>

   <!-- favicons
	================================================== -->
	<link rel="icon" type="image/png" href='{{ url_for("static", filename="images/favicon.png") }}'>
</head>

<body id="top">

	<!-- header 
   ================================================== -->
   <header>   	
   	<div class="row">

   		<div class="top-bar">
   			<a class="menu-toggle" href="#"><span>Menu</span></a>

	   		<div class="logo">
		         <a href="{{ url_for('home') }}" title="">FLASK</a>
		      </div>		      

		   	<nav id="main-nav-wrap">
					<ul class="main-navigation">
						<li><a href="{{ url_for('home') }}" title="">Home</a></li>
						<li><a href="{{ url_for('home', _anchor='about') }}" title="">About</a></li>
						<li><a href="{{ url_for('home', _anchor='resume') }}" title="">Resume</a></li>
						<li><a href="{{ url_for('home', _anchor='portfolio') }}" title="">Portfolio</a></li>
						<li><a href="{{ url_for('home', _anchor='portfolio') }}" title="">Services</a></li>
						<li><a class="smoothscroll"  href="#contact" title="">Contact</a></li>	
						<li><a href="{{ url_for('demo') }}" title="">Flask Demo</a></li>
					</ul>
				</nav>    		
   		</div> <!-- /top-bar --> 
   		
   	</div> <!-- /row --> 		
   </header> <!-- /header -->

	<!-- intro section
   ================================================== -->
   <section id="intro">   

   	<div class="intro-overlay"></div>	

   	<div class="intro-content">
   		<div class="row">

   			<div class="col-twelve">

	   			<h5>Hello, World.</h5>
	   			<h1>I'm Josep Martorell.</h1>

	   			<p class="intro-position">
	   				<span>Back-end Developer</span>
	   				<span>web platform design</span>
	   			</p>
				<a class="button stroke" href="https://player.vimeo.com/video/117310401?color=01aef0&amp;title=0&amp;byline=0&amp;portrait=0" data-lity="">
                Play Video
            	</a>

	   		</div>
   			
   		</div>   		 		
   	</div> <!-- /intro-content --> 

   	<ul class="intro-social">        
		 <li><a href="http://html5doctor.com/"><i class="fa fa-html5"></i></a></li>
         <li><a href="https://www.w3schools.com/css/default.asp"><i class="fa fa-css3"></i></a></li>
		 <li><a href="https://ubuntu.com/"><i class="fa fa-linux"></i></a></li>
		 <li><a href="https://github.com/"><i class="fa fa-github"></i></a></li>
		 <li><a href="https://flask.palletsprojects.com/en/1.1.x/"><i class="fa fa-flask"></i></a></li>
      </ul> <!-- /intro-social -->      	

   </section> <!-- /intro -->


   <!-- Style Demo
   ================================================== -->
   <section id="styles">

   	<div class="row section-intro">

   		<div class="col-twelve">

   			<h1>Flaskings Author's Manifesto.</h1>

   			<p class="lead">My father once showed me a little book when I was a kid,<br> he opened it and gently read something that I would never forget:<br>
            "My homeland is the world, and my family is humanity".</p>

   		</div>

     	</div> <!-- /row -->

     	<div class="row">

     		<div class="col-six tab-full">

		      <h3>Leading projects</h3>

		      <p><a href="#"><img width="120" height="120" class="pull-left" alt="sample-image" src='{{ url_for("static", filename="images/sample-image.jpg") }}'></a>
				  My philosophy is that when we create a platform for use by our company, we understand the usefulness and the functionality we expect from it in such a way that
				  it is relatively easy to develop it. However, when we design a platform for our client this can be somewhat more difficult, in such circumstances it is necessary
				  to debate and discuss said project in great detail, deducing from it an effective minimum structure that allows us to direct the project with maximum efficiency.<br><br>
				  About my skills I am specialized in web application development with Flask using Linux operating system for serialized production. Creation of corporate databases
				  with PostgreSQL and MySQL. Cloud computing with AWS to host and launch projects using basic services like S3, EC2 Route 53 and others more to obtain scalability.
				  Auxiliary skills with beautifulsoup, scrapy with Selenium and Splash javascript rendering services. Python automated spreadsheets for office tasks.<br><br>
				  My principal task consist of flaskerize smart templates to include useful functionalities and customize them to perform web products.
				  Another one is to automation tasks and data extraction with web scraping techniques.<br>
				  In summary, all those technological areas of development that deserve my attention are in which I have invested countless hours to progressively make them scalable.
 			   </p><br>

			<aside class="pull-quote">
				<blockquote>
					<p>Good design is as little design as possible.</p>
				</blockquote>
			</aside>

				 <cite>Dieter Rams</cite>

         	</div>

			 <div class="col-six tab-full">

				<h3>Powered by Flask</h3>

				 <p> Web development normally begins with well-selected frontend designs and prior graphic design with copywriting work to adapt the template. From here, the backend engineering is implemented according
					 to the design so that everything works and complies with a list of functionalities and quality standards.<br><br>
					 <strong>Blog VIPs</strong>:<br>
					 Web designs adapted for the promotion of famous people or simply people who profess an image to the public often use social blog engineering to interact with users.
					 Sometimes they require a lot more functionality, especially if you offer a small service like a guitar course or a collection of flirting video tutorials.<br>
					 <strong>Business Website</strong>:<br>
					 The implementation of a business website implies a structure with differentiated sections, attractive content, impressive texts, logos, images and multimedia files.
					 It may also need the multi-language function or integrate with an email marketing platform among other things such as a blog to interact with customers.<br>
					 <strong>Online Store</strong>:<br>
					 Web applications for online commerce are the flagship product in many ways. They should be well designed with a custom product catalog, all possible payment methods,
					 and even a blog to drive some traffic to the store. Other features are: shopping card, order management, client registration and client authentication.
					</p><br><br><br>

			 </div>

		<div class="row">

		   <div class="col-twelve"><hr><br><br>

		    	<h3 style="color:#cc005f";>Promotion videos</h3>

		   </div>	      	

		</div> <!-- /row -->

		<div class="row half-bottom">

      		<div class="col-six tab-full">

				<h3><code>Web applications</code></h3>

				<div class="fluid-video-wrapper">
					  <iframe src="http://player.vimeo.com/video/14592941?title=0&amp;byline=0&amp;portrait=0&amp;color=F64B39" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>

      		</div>

      		<div class="col-six tab-full">

				<h3><code>Scraping data</code></h3>

				<div class="fluid-video-wrapper">
					  <iframe src="http://player.vimeo.com/video/14592941?title=0&amp;byline=0&amp;portrait=0&amp;color=F64B39" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>

      		</div>

      <div class="row">

		      <div class="col-six tab-full">

			        <h3>Project Boxes</h3>

			        <div class="alert-box ss-error hideit">
				        <p>A social blog to create thematic friendship groups.</p>
				        <i class="fa fa-times close"></i>
			        </div><!-- /error -->

			        <div class="alert-box ss-success hideit">
				        <p>A smart bot for planning events</p>
				        <i class="fa fa-times close"></i>
			        </div><!-- /success -->

			        <div class="alert-box ss-info hideit">
				         <p>A web store application.</p>
				        <i class="fa fa-times close"></i>
			        </div><!-- /info -->

			        <div class="alert-box ss-notice hideit">
				        <p>A massive web scraping web data extraction with proxies.</p>
				        <i class="fa fa-times close"></i>
			        </div><!-- /notice -->

					<div class="alert-box ss-notice hideit">
				        <p>A massive web scraping data extraction with proxies.</p>
				        <i class="fa fa-times close"></i>
			        </div><!-- /notice -->

			  </div>

			  <div class="col-six tab-full">

		      	<h3>Leading Edge in Python AI Development</h3>

				  <p><a href="#"><img width="120" height="120" class="pull-left" alt="sample-image" src='{{ url_for("static", filename="images/pytorch.jpg") }}'></a>
					  In the changing landscape of artificial intelligence development, choosing which technology to invest development hours in is crucial and involves
					  choosing taking into account many factors, such as whether it is cross-platform or being a maintained open source technology by a growing community
					  Originally developed by FAER (acronym for Facebook AI Research), PyTorch has in turn been a fundamental piece in the development of relevant artificial
					  intelligence applications, such as Tesla's Autopilot and Uber's Pyro. PyTorch has become one of the most popular deep learning frameworks in the world,
					  shadowed only by Tensorflow and Keras, both backed by sponsorship from Google.
				   </p>

		  		<aside class="pull-quote">
				  <blockquote>
					 <p>Doing a lot with little is the queen of all leaderships.</p>
				  </blockquote>
			  </aside>

				  <cite>Josep Martorell</cite>

         	</div>

		</div> <!-- /row -->
		   	
   </section> <!--styles -->	

	
   <!-- contact
   ================================================== -->
	<section id="contact">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Contact</h5>
   			<h1>I'd Love To Hear From You.</h1>

   			<p class="lead">We appreciate your interest in visiting my website. If you want to contact me, please, fill out the contact form and I will respond quickly. <br>Thank you and see you soon! :)</p>

   		</div> 
   	</div> <!-- /section-intro -->

   	<div class="row contact-form">

   		<div class="col-twelve">

            <!-- form -->
            <form name="contactForm" id="contactForm" method="post" action="">
      			<fieldset>

                  <div class="form-field">
 						   <input name="contactName" type="text" id="contactName" placeholder="Name" value="" minlength="2" required="">
                  </div>
                  <div class="form-field">
	      			   <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value="" required="">
	               </div>
                  <div class="form-field">
	     				   <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="">
	               </div>
                  <div class="form-field">
	                 	<textarea name="contactMessage" id="contactMessage" placeholder="message" rows="10" cols="50" required=""></textarea>
	               </div>
                 <div class="form-field">
                     <button class="submitform">Submit</button>
                     <div id="submit-loader">
                        <div class="text-loader">Sending...</div>
       				      <div class="s-loader">
								  	<div class="bounce1"></div>
								  	<div class="bounce2"></div>
								  	<div class="bounce3"></div>
								</div>
							</div>
                  </div>

      			</fieldset>
      		</form> <!-- Form End -->

            <!-- contact-warning -->
            <div id="message-warning"></div>            
            <!-- contact-success -->
      		<div id="message-success">
               <i class="fa fa-check"></i>Your message was sent, thank you!<br>
      		</div>

         </div> <!-- /col-twelve -->
   		
   	</div> <!-- /contact-form -->

   	<div class="row contact-info">

   		<div class="col-four tab-full">

   			<div class="icon">
   				<i class="icon-pin"></i>
   			</div>

   			<h5>Where to find me</h5>

   			<p>
			Batan, 3 BAJO, 43204 Reus<br>
			TARRAGONA<br>
            SPAIN
            </p>

   		</div>

   		<div class="col-four tab-full collapse">

   			<div class="icon">
   				<i class="icon-mail"></i>
   			</div>

   			<h5>Email Me At</h5>

   			<p>martorelljosep@gmail.com<br>
			   </p>

   		</div>

   		<div class="col-four tab-full">

   			<div class="icon">
   				<i class="icon-phone"></i>
   			</div>

   			<h5>Call Me At</h5>

   			<p>Phone: (+34) 977 756 846<br>
			   	Mobile: (+34) 646 671 379<br>
			     	Fax: who still uses fax?
			   </p>

   		</div>
   		
   	</div> <!-- /contact-info -->
		
	</section> <!-- /contact -->


   <!-- footer
   ================================================== -->

   <footer>
     	<div class="row">

     		<div class="col-six tab-full pull-right social">

     			<ul class="footer-social">        
				  <li><a href="http://html5doctor.com/"><i class="fa fa-html5"></i></a></li>
			      <li><a href="https://www.w3schools.com/css/default.asp"><i class="fa fa-css3"></i></a></li>
			      <li><a href="https://ubuntu.com/"><i class="fa fa-linux"></i></a></li>
			      <li><a href="https://github.com/"><i class="fa fa-github"></i></a></li>
				  <li><a href="https://flask.palletsprojects.com/en/1.1.x/"><i class="fa fa-flask"></i></a></li>
			   </ul> 
	      		
	      </div>

      	<div class="col-six tab-full">
	      	<div class="copyright">
		        	<span>© Copyright Flaskings 2020.</span>
		        	<span><a href="{{ url_for('home') }}">Powered by Flask</a></span>
		         </div>		                  
	      	</div>

	      	<div id="go-top">
		         <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-long-arrow-up"></i></a>
		      </div>

      	</div> <!-- /row -->     	
   </footer>    

   <div id="preloader"> 
    	<div id="loader"></div>
   </div> 

   <!-- Java Script
   ================================================== --> 
   <script src='{{ url_for("static", filename="js/jquery-2.1.3.min.js") }}'></script>
   <script src='{{ url_for("static", filename="js/plugins.js") }}'></script>
   <script src='{{ url_for("static", filename="js/main.js") }}'></script>
	<script src="../vendor/jquery.js"></script>
	<script src='{{ url_for("static", filename="dist/lity.js") }}'></script>

</body>

</html>