<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Flaskings</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href='{{ url_for("static", filename="css/base.css") }}'>
   <link rel="stylesheet" href='{{ url_for("static", filename="css/main.css") }}'>
   <link rel="stylesheet" href='{{ url_for("static", filename="css/vendor.css") }}'>

   <!-- script
   ================================================== -->
	<script src='{{ url_for("static", filename="js/modernizr.js") }}'></script>
	<script src='{{ url_for("static", filename="js/pace.min.js") }}'></script>

   <!-- favicons
	================================================== -->
	<link rel="icon" type="image/png" href='{{ url_for("static", filename="images/favicon.png") }}'>

</head>

<body id="top">

	<!-- header 
   ================================================== -->
   <header>   	
   	<div class="row">

   		<div class="top-bar">
   			<a class="menu-toggle" href="#"><span>Menu</span></a>

	   		<div class="logo">
		         <a href="{{ url_for('home') }}" title="">FLASK</a>
		      </div>		      

		   	<nav id="main-nav-wrap">
					<ul class="main-navigation">
						<li class="current"><a class="smoothscroll"  href="#intro" title="">Home</a></li>
						<li><a class="smoothscroll"  href="#about" title="">About</a></li>
						<li><a class="smoothscroll"  href="#resume" title="">Resume</a></li>
						<li><a class="smoothscroll"  href="#portfolio" title="">Portfolio</a></li>
						<li><a class="smoothscroll"  href="#services" title="">Services</a></li>					
						<li><a class="smoothscroll"  href="#contact" title="">Contact</a></li>	
						<li><a href="{{ url_for('demo') }}" title="">Flask Demo</a></li>
					</ul>
				</nav>    		
   		</div> <!-- /top-bar --> 
   		
   	</div> <!-- /row --> 		
   </header> <!-- /header -->

	<!-- intro section
   ================================================== -->
   <section id="intro">   

   	<div class="intro-overlay"></div>	

   	<div class="intro-content">
   		<div class="row">

   			<div class="col-twelve">

	   			<h5>Hello, World.</h5>
	   			<h1>I'm Josep Martorell.</h1>

	   			<p class="intro-position">
	   				<span>Back-end Developer</span>
	   				<span>web platform design</span>
	   			</p>

	   			<a class="button stroke smoothscroll" href="#about" title="">More About Me</a>

	   		</div>  
   			
   		</div>   		 		
   	</div> <!-- /intro-content --> 

   	<ul class="intro-social">
		 <li><a href="http://html5doctor.com/"><i class="fa fa-html5"></i></a></li>
         <li><a href="https://www.w3schools.com/css/default.asp"><i class="fa fa-css3"></i></a></li>
		 <li><a href="https://ubuntu.com/"><i class="fa fa-linux"></i></a></li>
		 <li><a href="https://github.com/"><i class="fa fa-github"></i></a></li>
		 <li><a href="https://flask.palletsprojects.com/en/1.1.x/"><i class="fa fa-flask"></i></a></li>
      </ul> <!-- /intro-social -->      	

   </section> <!-- /intro -->


   <!-- about section
   ================================================== -->
   <section id="about">  

   	<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>About</h5>
   			<h1>Let me introduce myself.</h1>

   			<div class="intro-info">

   				<img src='{{ url_for("static", filename="images/profile-pic.jpg") }}' alt="Profile Picture">

   				<p class="lead">I am a tireless technology worker, very proactive and always repairing details to improve them. I am focused on cross-platform web development applications creating professional blogs, business websites and digital platforms for online stores. My philosophy is to make platforms like churros :)</p>
   			</div>   			

   		</div>   		
   	</div> <!-- /section-intro -->

   	<div class="row about-content">

   		<div class="col-six tab-full">

   			<h3>Profile</h3>
   			<p>Specialized in web application development with Flask using Linux operating system for serialized production. Cloud computing with AWS to host and launch projects.</p>

   			<ul class="info-list">
   				<li>
   					<strong>Fullname:</strong>
   					<span>Josep Martorell Aránega</span>
   				</li>
   				<li>
   					<strong>Job:</strong>
   					<span>Backend Web Developer</span>
   				</li>
   				<li>
   					<strong>Website:</strong>
   					<span>www.flaskings.com</span>
   				</li>
   				<li>
   					<strong>Email:</strong>
   					<span>martorelljosep@gmail.com</span>
   				</li>

   			</ul> <!-- /info-list -->

   		</div>

   		<div class="col-six tab-full">

   			<h3>Skills</h3>
   			<p>Flask technology for web development. Databases with PostgreSQL and MySQL. </br>Customized web scraping scripts with Selenium. Automated spreadsheets with Python.</p>

				<ul class="skill-bars">
				   <li>
				   	<div class="progress percent95"><span>95%</span></div>
				   	<strong>Python</strong>
				   </li>
				   <li>
				   	<div class="progress percent75"><span>75%</span></div>
				   	<strong>HTML5</strong>
				   </li>
				   <li>
				   	<div class="progress percent55"><span>55%</span></div>
				   	<strong>CSS3</strong>
				   </li>
				   <li>
				   	<div class="progress percent80"><span>80%</span></div>
				   	<strong>Javascript</strong>
				   </li>
				   <li>
				   	<div class="progress percent45"><span>45%</span></div>
				   	<strong>Java</strong>
				   </li>
      
				</ul> <!-- /skill-bars -->		

   		</div>

   	</div>

   	<div class="row button-section">
   		<div class="col-twelve">
   			<a href="#contact" title="Hire Me" class="button stroke smoothscroll">Hire Me</a>
   			<a href="#" title="Download CV" class="button button-primary">Download CV</a>
   		</div>   		
   	</div>

   </section> <!-- /process-->    


   <!-- resume Section
   ================================================== -->
	<section id="resume" class="grey-section">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Resume</h5>
   			<h1>More of my credentials.</h1>

   			<p class="lead">My father was an accomplished engineer working in a factory laboratory in the last century, when he lived, and maybe that's why there is a love for technology in me.</p>

   		</div>   		
   	</div> <!-- /section-intro--> 

   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>Work Experience</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">

   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Software Developer</h3>
	   					<p>September 2020 - Present</p>
	   				</div>

	   				<div class="timeline-content">
						<h4><a href="https://businessandtravel.agency/">Business & Travel</a> - <a href="https://s3.eu-west-1.amazonaws.com/jmartorell.tech/index.html">Internship</a></h4>
						The function as a programmer consist of:
						<p>
							-Using advanced web scraping techniques to extract data interacting &nbsp;&nbsp;with web pages and doing different things programmatically.</br>
							-Returning collected data into a different formatted spreadsheets, &nbsp;&nbsp;reporting results and sending automated emails to the stakeholders.
							-Automation of repetitive tasks that translates into time and effort &nbsp;&nbsp;savings and that translates into better performance of office tasks.</br>
							-Development of back-end project with &nbsp;&nbsp;Flask and PostgreSQL for &nbsp;&nbsp;Business & Travel website.
						</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Auxiliary Technician</h3>
	   					<p>January 2018 - July 2019</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Reus Council Department of Culture - Contract </h4>
	   					<p>Cultural manager in charge of the management of a cultural entity based in Casa Rull, such as theaters, orchestras, concert halls, art galleries or art centers. The job is to support the administrative staff in their tasks, management of job boards and support to the organizers of the headquarters.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Energy Advisor</h3>
	   					<p>March 2017 - June 2017</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Equality Exteam S.L. - Contract</h4>
	   					<p>Provide comprehensive assistance to companies in the management of all energy-related matters, and to all energy supply processes, helping the company to make decisions in the energy markets, through the development of energy supply strategies and risk management.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

   			</div> <!-- /timeline-wrap -->   			

   		</div> <!-- /col-twelve -->
   		
   	</div> <!-- /resume-timeline -->
   	
   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>Education</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">

   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Batchelor Degree</h3>
	   					<p>September 2018 - Present</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Open Institute of Catalonia, BCN</h4>
						<p><strong>Senior technician in cross-platform application development</strong>. </br>As backend normally makes up 80 percent of any project this has become the best line for me. From here I guide my profile to complete myself as a Full Stack Developer..</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Official Certificate</h3>
	   					<p>June 2017 - December 2017</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>AULA REUS - Government Approved Study Center</h4>
						<p><strong>Certificate of professionalism in Computer Systems Programming</strong>. </br>With a self-taught base inherited with Java2 that began in 1994, I took the opportunity to obtain the Certificate in Systems Programming Approved by the Spain Government's Department of Culture.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Bachelor Degree</h3>
	   					<p>September 2010 - June 2015</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>UNED</h4>
						<p><strong>As a social engineer, I hold a Bologna degree in Psychology</strong>. </br>In my personal training I think that it has powerfully stimulated my ability to learn in addition to enriching my cultural level and way of seeing the world, but also my interest in Artificial Intelligence.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

   			</div> <!-- /timeline-wrap -->   			

   		</div> <!-- /col-twelve -->
   		
   	</div> <!-- /resume-timeline -->
		
	</section> <!-- /features -->


	<!-- Portfolio Section
   ================================================== -->
	<section id="portfolio">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Portfolio</h5>
   			<h1>Check Out Some of My Works.</h1>

   			<div class="lead">This is a small collection of my Flask projects using Styleshout templates. </br>
I myself 	have done the work of copywriter, logos and photos implementing finally the backend engineering. </div>

   		</div>   		
   	</div> <!-- /section-intro--> 

   	<div class="row portfolio-content">

   		<div class="col-twelve">

   			<!-- portfolio-wrapper -->
	         <div id="folio-wrapper" class="block-1-2 block-mob-full stack">

	         	<div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src='{{ url_for("static", filename="images/portfolio/jmartorell.jpg") }}' alt="JMartorell">
	                  <a href="#modal-01" class="overlay">	                  	           
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
		     					       <h3 class="folio-title">Business&Travel Automation Desk</h3>
		     					    	 <span class="folio-types">
		     					       	  Automation Selenium + spreadsheets
		     					       </span>
		     					   </div>	                      	
	                     </div>                    
	                  </a>
	               </div>	               
	        		</div> <!-- /folio-item -->

	        		<div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src='{{ url_for("static", filename="images/portfolio/spiderweb.jpg") }}' alt="Spiderweb">
	               	<a href="#modal-02" class="overlay">              		                  
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Troubleshoot webScraping Miniblog</h3>
		     					    	<span class="folio-types">
		     					       	  Python Flask Backend
		     					      </span>		     		
		     					   </div> 	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->

	            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src='{{ url_for("static", filename="images/portfolio/login.jpg") }}' alt="Clouds">
	                  <a href="#modal-03" class="overlay">             		                  
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Next Job</h3>
		     					    	<span class="folio-types">
		     					       	  ?
		     					      </span>		     		
		     					   </div> 	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->

	            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src='{{ url_for("static", filename="images/portfolio/flaskings.jpg") }}' alt="Flaskings">
	                  <a href="#modal-04" class="overlay">                  	                 
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">My Personal Website</h3>
		     					    	<span class="folio-types">
		     					       	  Python Flask Backend
		     					      </span>		     		
		     					   </div>  	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->

	            <!-- modal popups - begin
	            ============================================================= -->
	            <div id="modal-01" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src='{{ url_for("static", filename="images/portfolio/modals/jmartorell.jpg") }}' alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Business&Travel Automation Desk</h4>
					      <p>In short, the practices are based on the analysis of office tasks in the agency for translation into valid roadmaps to develop efficient automation software. These applications interact with the desktop,
							  applications such as the Microsoft Office Suite, or applications located on servers, usually search engines for hotel reservations at business service providers.</p>

					      <div class="categories">Automation Selenium + spreadsheets</div>
					   </div>

			         <div class="link-box">
			            <a href="https://s3.eu-west-1.amazonaws.com/jmartorell.tech/index.html">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-01 -->

				   <div id="modal-02" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src='{{ url_for("static", filename="images/portfolio/modals/spiderweb.jpg") }}' alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Troubleshoot webScraping Miniblog </h4>
					      <p>A project consisting of a miniblog with a postgresql database to share scripts and tricks about webScraping.
							  Admin can post such snippets in screenshot image files. Users can register and log in after which they can leave their comments..</p>

					      <div class="categories">Python Flask Backend</div>
					   </div>

			         <div class="link-box">
			            <a href="https://github.com/josepmartorell/Troubleshoot-webScraping-Miniblog">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-02 -->

				   <div id="modal-03" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src='{{ url_for("static", filename="images/portfolio/modals/m-clouds.jpg") }}' alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Clouds</h4>		      
					      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

					      <div class="categories">Web Design</div>			               
					   </div>

			         <div class="link-box">
			            <a href="http://www.behance.net">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-03 -->

				   <div id="modal-04" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src='{{ url_for("static", filename="images/portfolio/modals/m-beetle.jpg") }}' alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Beetle</h4>		      
					      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

					      <div class="categories">Branding</div>			               
					   </div>

			         <div class="link-box">
			            <a href="http://www.behance.net">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-04 -->

				   <!-- modal popups - end
	            ============================================================= -->

	         </div> <!-- /portfolio-wrapper --> 

   		</div>  <!-- /twelve -->   

   	</div> <!-- /portfolio-content --> 
		
	</section> <!-- /portfolio --> 


	<!-- CTA Section
   ================================================== -->
	<section id="cta" class="grey-section">

   	<div class="row cta-content">

   		<div class="col-twelve section-ads">  

	     		<h2 class="h01"><a href="https://www.styleshout.com/">Flaskings Recommends Styleshout.</a></h2>

		      <p class="lead">
		      Looking for an awesome and smart design? Try <a href="https://www.styleshout.com/"><span>Styleshout</span></a>.
				Get <span>Free </span>templates, beautifully handcrafted HTML website <span>styleshout</span>.
				<!-- Simply type	the promocode in the box labeled “Promo Code” when placing your order. -->	
				</p>

				<div class="action">
			      <a class="button button-primary large" href="https://www.styleshout.com/">Sign Up Now</a>
		      </div>		     	

   		</div>

   	</div> <!-- /cta-content -->

   </section> <!-- /cta --> 

	
	<!-- services Section
   ================================================== -->
	<section id="services">

		<div class="overlay"></div>

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Services</h5>
   			<h1>What Can I Do For You?</h1>

   			<p class="lead">This is a small catalog of the services that I can provide grouped into three blocks. If you have a doubt or need any clarification about it, do not hesitate to contact me!</p>

   		</div>   		
   	</div> <!-- /section-intro -->

   	<div class="row services-content">

   		<div id="owl-slider" class="owl-carousel services-list">

	      	<div class="service">	

	      		<span class="icon"><i class="icon-earth"></i></span>

	            <div class="service-content">	

	            	 <h3>Selenium Spiders</h3>

		            <p class="desc">With selenium's custom scripts, many tasks can be automated: Programmatically log in to websites, entering all data in search engines,
						pressing button to start search, and more. Using web scraping in combination with they allow a follow-up of all the information, filtering it to create documents and reports automatically.
	         		</p>
	         		
	         	</div> 	         	 

				</div> <!-- /service -->

				<div class="service">	

					<span class="icon"><i class="icon-wrench"></i></span>

	            <div class="service-content">	

	            	<h3>Backend Web Development</h3>

		            <p class="desc">Web development normally begins with well-selected frontend designs and prior graphic design with copywriting work to adapt the template.
						From here, the backend engineering is implemented according to the design so that everything works and complies with a list of functionalities and quality standards.
	         		</p>

	            </div>	                          

			   </div> <!-- /service -->

			   <div class="service">

			   	<span class="icon"><i class="icon-pencil"></i></span>

	            <div class="service-content">

	            	<h3>Automated Spreadsheets</h3>

		            <p class="desc">Python openpyxl and xmlxwriter scripts are extremely useful for automating spreadsheets and other applications from Microsoft's office suite or LibreOffice.
						Automation of repetitive tasks that translates into a saving of time and effort and resulting in a better performance of the company's business office processes.
					</p>

	            </div> 	            	               

			   </div> <!-- /service -->

				<div class="service">

					<span class="icon"><i class="icon-star"></i></span>

	            <div class="service-content">

	            	<h3>Blog VIPs</h3>

		            <p class="desc">Web designs adapted for the promotion of famous people or simply people who profess an image to the public often use social blog engineering to interact with users.
                       Sometimes they require a lot more functionality, especially if you offer a small service like a guitar course or a collection of flirting video tutorials.
	         		</p> 
	         		
	            </div>                

				</div> <!-- /service -->

			   <div class="service">

			   	<span class="icon"><i class="icon-bar-chart"></i></span>

	            <div class="service-content">

	            	<h3>Business Website</h3>

		            <p class="desc"> The implementation of a business website implies a structure with differentiated sections, attractive content,
						impressive texts, logos, images and multimedia files. It may also need the multi-language function or integrate with an email marketing
						platform among other things such as a blog to interact with customers.
					</p>

	            </div>	               

			   </div> <!-- /service -->

			   <div class="service">

			   	<span class="icon"><i class="icon-shopping-cart"></i></span>

	            <div class="service-content">

	            	 <h3>Online Store</h3>

		            <p class="desc">Web applications for online commerce are the flagship product in many ways. They should be well designed with a custom product catalog, all possible payment methods, and even a blog to drive some traffic to the store. Other features are: shopping card, order management, client registration and client authentication.
	        			</p> 
	        			
	            </div>	               

			   </div> <!-- /service -->

	      </div> <!-- /services-list -->
   		
   	</div> <!-- /services-content -->
		
	</section> <!-- /services -->	


	<!-- stats Section
   ================================================== -->
	<section id="stats" class="count-up">

		<div class="row">
			<div class="col-twelve">

				<div class="block-1-6 block-s-1-3 block-tab-1-2 block-mob-full stats-list">

					<div class="bgrid stat">

						<div class="icon-part">
							<i class="icon-pencil-ruler"></i>
						</div>

						<h3 class="stat-count">
							1500
						</h3>

						<h5 class="stat-title">
							Projects Completed
						</h5>

					</div> <!-- /stat -->					

					<div class="bgrid stat">

						<div class="icon-part">
							<i class="icon-users"></i>
						</div>

						<h3 class="stat-count">
							900
						</h3>

						<h5 class="stat-title">
							Happy Clients
						</h5>

					</div> <!-- /stat -->

					<div class="bgrid stat">

						<div class="icon-part">
							<i class="icon-badge"></i>
						</div>

						<h3 class="stat-count">
							200
						</h3>

						<h5 class="stat-title">
							Awards Received
						</h5>

					</div> <!-- /stat -->									

					<div class="bgrid stat">

						<div class="icon-part">
							<i class="icon-light-bulb"></i>
						</div>

						<h3 class="stat-count">
							120
						</h3>

						<h5 class="stat-title">
							Crazy Ideas
						</h5>

					</div> <!-- /stat -->

					<div class="bgrid stat">

						<div class="icon-part">
							<i class="icon-cup"></i>
						</div>

						<h3 class="stat-count">
							1500
						</h3>

						<h5 class="stat-title">
							Coffee Cups
						</h5>

					</div> <!-- /stat -->

					<div class="bgrid stat">

						<div class="icon-part">
							<i class="icon-clock"></i>
						</div>

						<h3 class="stat-count">
							7200
						</h3>

						<h5 class="stat-title">
							Hours
						</h5>

					</div> <!-- /stat -->

				</div> <!-- /stats-list -->

			</div> <!-- /twelve -->
		</div> <!-- /row -->

	</section> <!-- /stats -->

	
   <!-- contact
   ================================================== -->
	<section id="contact">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Contact</h5>
   			<h1>I'd Love To Hear From You.</h1>

   			<p class="lead">We appreciate your interest in visiting my website. If you want to contact me, please, fill out the contact form and I will respond quickly. <br>Thank you and see you soon! :)</p>

   		</div> 
   	</div> <!-- /section-intro -->

   	<div class="row contact-form">

   		<div class="col-twelve">

            <!-- form -->
			{% block content %}{% endblock %}
 			<!-- Form End -->

            <!-- contact-warning -->
            <div id="message-warning">            	
            </div>            
            <!-- contact-success -->
      		<div id="message-success">
               <i class="fa fa-check"></i>Your message was sent, thank you!<br>
      		</div>

         </div> <!-- /col-twelve -->
   		
   	</div> <!-- /contact-form -->

   	<div class="row contact-info">

   		<div class="col-four tab-full">

   			<div class="icon">
   				<i class="icon-pin"></i>
   			</div>

   			<h5>Where to find me</h5>

   			<p>
			Batan, 3 BAJO, 43204 Reus<br>
			TARRAGONA<br>
            SPAIN
            </p>

   		</div>

   		<div class="col-four tab-full collapse">

   			<div class="icon">
   				<i class="icon-mail"></i>
   			</div>

   			<h5>Email Me At</h5>

   			<p>martorelljosep@gmail.com<br>
			   </p>

   		</div>

   		<div class="col-four tab-full">

   			<div class="icon">
   				<i class="icon-phone"></i>
   			</div>

   			<h5>Call Me At</h5>

   			<p>Phone: (+34) 977 756 846<br>
			   	Mobile: (+34) 646 671 379<br>
			     	Fax: who still uses fax?
			   </p>

   		</div>
   		
   	</div> <!-- /contact-info -->
		
	</section> <!-- /contact -->


   <!-- footer
   ================================================== -->

   <footer>
     	<div class="row">

     		<div class="col-six tab-full pull-right social">

     			<ul class="footer-social">
				  <li><a href="http://html5doctor.com/"><i class="fa fa-html5"></i></a></li>
			      <li><a href="https://www.w3schools.com/css/default.asp"><i class="fa fa-css3"></i></a></li>
			      <li><a href="https://ubuntu.com/"><i class="fa fa-linux"></i></a></li>
			      <li><a href="https://github.com/"><i class="fa fa-github"></i></a></li>
				  <li><a href="https://flask.palletsprojects.com/en/1.1.x/"><i class="fa fa-flask"></i></a></li>
			   </ul> 
	      		
	      </div>

      	<div class="col-six tab-full">
	      	<div class="copyright">
		        	<span>© Copyright Flaskings 2020.</span>
		        	<span><a href="{{ url_for('home') }}">Powered by Flask</a></span>
		         </div>		                  
	      	</div>

	      	<div id="go-top">
		         <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-long-arrow-up"></i></a>
		      </div>

      	</div> <!-- /row -->     	
   </footer>  

   <div id="preloader"> 
    	<div id="loader"></div>
   </div> 

   <!-- Java Script
   ================================================== --> 
   <script src='{{ url_for("static", filename="js/jquery-2.1.3.min.js") }}'></script>
   <script src='{{ url_for("static", filename="js/plugins.js") }}'></script>
   <script src='{{ url_for("static", filename="js/main.js") }}'></script>

</body>

</html>